body
{
margin:0;
padding:0;
background:url(bg.png);
background-size:cover;
font-family:sans-serif;
background-color:#FFE4E1;
}
h1
{
	margin:0;
	text-align:center;
	color:#F08080;
}
.signup
{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:350px;
	height:450px;
	padding:80px 40px;
	box-sizing:cover;
	background:rgba(0,0,0.5);
	background-size:border-box;
	
}
.user
{
	width:100px;
	height:100px;
	border-radius:50%
	overflow:hidden;
	position:absolute;
	top:calc(-100px/2);
	left:calc(50%-50px);
}
h2
{
	margin:0;
	padding:0 0 20px;
	color:#FFF8DC;
	text-align:center;
}
.signup p 
{
	margin:0;
	padding:0 0 20px;
	color:#FFF8DC;
	font-weight:bold;
}
.signup input
{
	width:100%;
	margin-bottom:20px;
}
.signup input[type="text"], .signup input[type="text"], .signup input[type="password"], .signup input[type="password"]
{
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size:16px;
}
::placeholder
{
	color:rgba(255,255,255,0.5)
}
.signup input[type="Submit"]
{
	border:none;
	outline:none;
	height:40px;
	color:#fff;
	font-size:16px;
	background:#708090;
	cursor:pointer;
	border-radius:20px;
}
.signup input[type="Submit"]:hover
{
	background:#FFF8DC;
	color:#262626;
}
