
<html>
<head>
  <link rel="stylesheet" href="sprovider.css">
</head>
    <div id="service_provider">
        <div class="service">
            <form>
                <h3>Create Service Providers</h3>
				<div class="firstname">
					<p>First Name</p>
					<input type="text" ref="fname" name="" placeholder="First name...">
				</div>
				<div class="lastname">
					<p>Last Name</p>
					<input type="text" ref="lname" name="" placeholder="Last name...">
				</div>
				<div class="uname">
					<p>Username</p>
					<input type="text" ref="username" name="" placeholder="Username...">
				</div>
				<div class="pwd">
					<p>Password</p>		
					<input type="password" ref="pass" name="" placeholder="*******">
				</div>
				<div class="mail">
					<p>E-mail</p>
					<input type="text" ref="email" name="" placeholder="E-mail.....">
				</div>
				<div class="num">
				<p>Telephone Number</p>
				<input type="text" ref="teleno" name="" placeholder="phone no......">
				</div>
				<input type="button" class="submitbutton" value="Create Service provider" v-on:click="createServiceProvider" align="middle">
				<div class="addsp-error" id="error" v-if="seen">
					<p class="message">
						{{ message }}
					</p>
				</div>
				<div class="addsp-success" id="success" v-if="seenSuccess">
					<p class="message">
						{{ message }}
					</p>
				</div>			
            </form>
        </div>
    </div>
	</html>